* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  padding: 15px;
  color: rgb(92, 20, 89);
  font-size: 20px;
  border-radius: 10px;
  border-style: double;
  border-color: palevioletred;
  outline: none;
  box-shadow: 13px -8px 66px 3px rgba(250, 250, 250, 1);
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-style: groove;
  border-color: palevioletred;
}

.button {
  padding: 12px;
  margin-left: 10px;
  border-radius: 10px;
  border-style: double;
  border-color: #ffff;
  background-color: palevioletred;
  font-size: 20px;
  color: #ffff;
  box-shadow: 13px -8px 66px 3px rgba(250, 250, 250, 1);
}

.button:hover,
.button:focus {
  border-style: groove;
  border-color: palevioletred;
  background-color: #ffff;
  color: palevioletred;
}

.timer {
  padding: 20px;
  margin-top: 30px;
  margin-left: 25%;

  box-shadow: 13px -8px 66px 3px rgba(250, 250, 250, 1);
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.value {
  font-size: 68px;
  color: #ffff;
  text-shadow: 4px 2px 2px rgba(241, 225, 240, 0.96);
}

.label {
  font-size: 20px;
  color: #ffff;
  text-shadow: 2px 2px 2px rgba(60, 41, 60, 0.96);
}
